.notes {
  position: relative;
  &__item {
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    font-size: 14px;
  }

  &__date {
    color: #616f82;
    margin-right: 5px;
  }

  &__button {
    border-radius: 50%;
    min-width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    img {
      filter: brightness(0) saturate(100%) invert(42%) sepia(11%) saturate(741%)
        hue-rotate(175deg) brightness(99%) contrast(94%);
    }

    &:hover {
      background-color: #4198c5;
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(10%)
          saturate(7493%) hue-rotate(182deg) brightness(102%) contrast(113%);
      }
    }
  }

  &__imageWrapper {
    width: 209px;
    height: 144px;
    border-radius: 4px;
    background: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
