.events {
  position: relative;
  &__title {
    font-size: 16px;
    margin-bottom: 13px;
    font-weight: 400;
  }

  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #616f82;

    img {
      margin-right: 6px;
    }
  }

  &__infoItem {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}
